<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/news.css">
    <title>A股时隔27年再现千元股</title>
</head>
<body>
    <nav class="news__navigate">国内AA>>股动荡</nav>
    <hr>
    <article>
        <header class="news__title">
            <h1>A股时隔27年再现千元股：贵州茅台股价突破1000元大关</h1>
        </header>
        <aside class="news__author-time">2019-06-27 10:21&nbsp;&nbsp;&nbsp;&nbsp;来源:澎湃新闻</aside>
        <section class="news__content">
                <p>6月27日，贵州茅台（600519）股价开盘价979.86元/股，后一路上行，突破1000元大关。市值1.256万亿元。3天之前，贵州茅台盘中股价曾突破990元/股历史高点，但最终破千未果。
                    可资比对的是，2018年贵州省GDP为14806.45亿元。 换句话说，一个贵州茅台的总市值，要占到贵州省GDP的近85%。</p>
                <p>A股上一次出现千元股，还要追溯到27年前。</p>
                <p>据证券时报e公司报道，“老八股”中曾诞生过两只千元股。曾经的“老八股”龙头真空电子，发行价就高达365元，一年半的时间里，股价连翻6倍。其股价在1992年4月14日便达到1030.10元(不复权，下同)，
                    此后一路上涨并在1992年5月25日，盘中一度涨至2587.50元。此后，真空电子更名为云赛智联，目前仍在A股上市，但当下股价只有7.81元。</p>
        </section>
        <section class="news__comments">
            <nav class="news__comments-title">
                <div class="new__comments-tittle-pre">
                </div>最新评论
            </nav>
            <article>
                <div class="news__comment_image">
                    <img src="../images/user001.gif" width="50px" height="50px" style="border-radius:25px;">

                </div>
                <div class="news__comment-item--main">
                    <nav class="news__comment-item--author"><span style="color:red">搜狐网友5465313</span>（山东省烟台市）</nav>
                    <div class="news__comment-item--content">曾经的真空电子如今改名成了云赛智联，不知道若干年以后贵州茅台会改成什么名字？</div>
                    <div class="news__comment-item--time">12分钟之前</div>
                    <div class="news__comment-item--operation">
                        <span class="operation_button">
                            <img class="operation__image" src="../images/举报_0.png"  >举报</span>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <span class="operation_button">回复</span>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <span class="operation_button"><img src="../images/点赞_0.png" class="operation__image">点赞</div></span>

                    </div>
                
            </article>
        </section>
        <footer class="news__recommend">推荐新闻</footer>


    </article>
</body>
</html>