<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/flex.css">
    <title>Document</title>
</head>
<body>
    <main>
        <header class="top">
            <h1>WBC-前端WEB学习</h1>
        </header>
        <article class="main">
            <nav class="left-nav">
                <td>
                    <tr><a href="../login.html">登陆页面</a></tr><br>
                    <tr><a href="../news.html">搜狐新闻</a></tr><br>
                    <tr><a href="../menuDemo.html">菜单</a></tr><br>
                </td>    
                        
                        
            </nav>
            <section class="look-page">
                <iframe src="https://www.baidu.com/"
                width="100%" height="100%"
                frameborder="1" name="todolist"
                scrolling="auto">
            </iframe>

            </section>

        </article>
        <footer class="bottom"></footer>
    </main>

</body>
</html>