main{
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: 50px auto 30px;
    grid-template-areas: "head head"
                        "left-nav look-page"
                        "foot foot"
}
.top,.left-nav,.look-page,.bottom{
    border: 1px solid #ccc;
    margin: 2px;

}
.top{
    grid-area: head;

}
.left-nav{
    grid-area: left-nav;

}
.look-page{
    grid-area: look-page;
}
.bottom{
    grid-area: foot;
}